* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.collage {
    background-color: red;
    /* max-height: 100vh; */
}

.row-1 , .row-2 , .row-3{
    height: 400px;
    display: flex;
}

img {
    height: 100%;
    width: 100%;
}
.row-2{
    display: flex;
}
.row-2 img{
    height: 100%;
    width: 100%;
}