*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-box{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    
}
.box{
    width: 25%;
    height: 300px;
    border: 2px solid black;
    display: inline-block;
    border-radius: 20px;
    box-shadow: 10px 10px 20px grey;
}
.div1{
    background: url('https://images.unsplash.com/photo-1551972251-12070d63502a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHRpZ2VyfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60');
    background-repeat: no-repeat;
    background-size: cover;
}
.div2{
    background: url('https://images.unsplash.com/photo-1543466835-00a7907e9de1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8ZG9nfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60');
    background-repeat: no-repeat;
    background-size: cover;
}
.div3{
    background: url('https://images.unsplash.com/photo-1596854407944-bf87f6fdd49e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGNhdHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60');
    background-repeat: no-repeat;
    background-size: cover;
}
.box p{
    text-align: center;
    color: white;
    font-size: 2.5rem;
    font-weight: bolder;
    margin-top: 110px;
    -webkit-text-stroke: 0.01px black;
}