/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex-container{
    border: 2px solid black;
    height: 700px;
    display: flex;
    justify-content:center;
    gap: 10px;
    align-items:center;
    flex-wrap:wrap;

}
.box{
    height: 180px;
    width: 150px;
    border: 2px dashed green;
} */

/* LOGIN FORM  */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background: rgb(146, 229, 217);
    background: linear-gradient(37deg, rgba(146, 229, 217, 1) 0%, rgba(251, 209, 241, 1) 0%, rgba(220, 229, 252, 1) 100%);
}
.form-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    background-color: white;
    width: 27%;
    height: 85%;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 10px 10px 15px grey;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
} */

/* CSS GRIDS  */
/* .grid-container{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    height: 90vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    gap: 20px;
}
.date , .day{
    background-color: skyblue;
    font-size: 1.5rem;
    border-radius: 10px;
    /* text-align: center; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.day{
    background-color: rgb(212, 200, 200);
    font-size: 1.7rem;
/* } */ 

.grid{
    height: 100px;
}
.grid-1{
    background-color: red;
    grid-column: 1/4;
}

.grid-2{
    background-color: green;
    grid-column: 1/2;
}

.grid-3{
    background-color: yellow;
}

.grid-4{
    background-color: blue;
    grid-column: 1/4;
}
.grid-container{
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    gap: 10px;
}