#grandparent {
    height: 500px;
    width: 60%;
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parents {
    height: 200px;
    width: 80%;
    background-color: red;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.childrens {
    height: 100px;
    width: 40%;
    background-color: blue;
    margin: 20px;
}