* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
    font-family: 'Hanken Grotesk', sans-serif;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: hsl(0, 0%, 98%);
}

/* NAVBAR STYLING  */

.nav {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-and-menus {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 75px;
    margin: 10px 75px 0px 35px;
    cursor: pointer;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    text-align: center;
    font-size: 0.9rem;
    color: hsl(0, 0%, 41%);
}

ul li ul.dropdown li {
    display: block;
    cursor: pointer;
    background-color: white;
    color: hsl(0, 0%, 41%);
    text-align: center;
    padding: 15px 5px;
}

ul li ul.dropdown {
    width: 100%;
    position: absolute;
    z-index: 999;
    display: none;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

ul li a:hover {
    color: black;
    transition: 0.2s;
}

ul li:hover ul.dropdown {
    display: block;
    transition: 0.2s;
}

ul li ul.dropdown li:hover {
    color: hsl(0, 0%, 8%);
    transition: 0.2s;
}

.buttons {
    margin-right: 30px;
}

.btn1 {
    color: hsl(0, 0%, 41%);
    padding: 10px 20px;
    background-color: hsl(0, 0%, 98%);
    border: none;
    margin-right: 15px;
    cursor: pointer;
    font-size: 0.9rem;
}

.btn1:hover {
    color: hsl(0, 0%, 8%);
    transition: 0.2s;
}

.btn2 {
    background-color: hsl(0, 0%, 98%);
    border: 2px solid hsl(0, 0%, 41%);
    color: hsl(0, 0%, 41%);
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.9rem;
}

.btn2:hover {
    color: hsl(0, 0%, 8%);
    border-color: hsl(0, 0%, 8%);
    transition: 0.2s;
}

/* MAIN SECTION  */
.main-container {
    height: 500px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: 0 auto;
}

.main-right {
    width: 50%;
}

.main-right img {
    width: 90%;
}

.main-left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 50px;
}

.main-left h1 {
    font-size: 4.5rem;
    width: 100%;
    margin-top: 30px;
    font-weight: 700;
}

.main-left p {
    font-size: 1rem;
    width: 70%;
    color: hsl(0, 5%, 66%);
    line-height: 1.6;
    font-weight: bold;
}

.btn3 {
    background-color: hsl(0, 0%, 8%);
    border: 2px solid hsl(0, 0%, 8%);
    color: hsl(0, 0%, 98%);
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.9rem;
}

.btn3:hover {
    background-color: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 8%);
    transition: 0.2s;
    border: 2px solid hsl(0, 0%, 41%);
    border-color: hsl(0, 0%, 8%);
}

.main-left-logo img {
    margin-right: 25px;
}

/* MEDIA QUERY */
@media (max-width: 1024px){
    .logo img{
        width: 55px;
    }
    ul li a{
        padding: 7px;
    }
    ul li a{
        font-size: 0.6rem;
    }
}
