* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: hsl(36, 100%, 99%);
}

.container {
    margin: 70px 250px;
}

/* HEADER PART  */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.navbar .nav-logo img {
    width: 43px;
    cursor: pointer;
}

.nav-links ul {
    display: flex;
    list-style-type: none;
}

.nav-links ul li {
    margin-left: 30px;
}

.nav-links ul li a {
    text-decoration: none;
    color: hsl(236, 13%, 42%);
    font-size: 0.93rem;
}

.nav-links ul li a:hover {
    color: hsl(5, 85%, 63%);
    transition: 0.2s;
}

/* MAIN PART  */

.main {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.main-left {
    width: 65%;
}

.main-left-top-img img {
    height: 250px;
    width: 100%;
}

.main-left-bottom {
    display: flex;
    padding-top: 10px;
    margin-top: 10px;
}

.bright-future {
    width: 50%;
}

.bright-future h1 {
    font-size: 2.3rem;
    width: 90%;
    font-weight: 800;
    color: hsl(240, 100%, 5%);
}

.web-evolution {
    width: 50%;
}

.web-evolution p {
    width: 100%;
    font-size: 0.80rem;
    color: hsl(236, 13%, 42%);
}

.web-evolution-btn button {
    width: 45%;
    padding: 10px 15px;
    margin-top: 33px;
    color: white;
    font-weight: 800;
    background-color: hsl(240, 100%, 5%);
    border: none;
    cursor: pointer;
}

.web-evolution-btn button:hover {
    background-color: hsl(5, 85%, 63%);
    transition: 0.2s;
}

.main-right {
    width: 35%;
    background-color: hsl(240, 100%, 5%);
    padding: 0px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.main-right-new h2 {
    margin-top: -35px;
    color: hsl(35, 77%, 62%);
    font-size: 1.8rem;
    font-weight: 800;
}

.main-right-top h5 {
    margin-top: -20px;
    font-size: 0.95rem;
    color: white;
    margin-bottom: 7px;
}

.main-right-top p {
    font-size: 0.85rem;
    color: hsl(236, 11%, 51%);
}

.main-right-middle h5 {
    margin-top: -20px;
    font-size: 0.95rem;
    color: white;
    margin-bottom: 7px;
}

.main-right-middle p {
    font-size: 0.85rem;
    color: hsl(236, 11%, 51%);
}

.main-right-bottom h5 {
    margin-top: -20px;
    font-size: 0.95rem;
    color: white;
    margin-bottom: 7px;
}

.main-right-bottom p {
    font-size: 0.85rem;
    color: hsl(236, 11%, 51%);
}

h5:hover {
    color: hsl(35, 77%, 62%);
    transition: 0.2s;
    cursor: pointer;
}

/* FOOTER SECTION  */
.footer {
    display: flex;
}

.footer img {
    width: 70px;
}

.footer-section-1 {
    display: flex;
    gap: 13px;
    width: 32.5%;
}

.footer-section-2 {
    display: flex;
    gap: 13px;
    width: 32.5%;
}

.footer-section-3 {
    display: flex;
    gap: 13px;
    width: 35%;
    margin-left: 20px;
}

.footer-section-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-section-right h3 {
    font-size: 1.4rem;
    color: hsla(236, 11%, 51%, 0.5);
}

.footer-section-right h5 {
    font-size: 0.95rem;
}

.footer-section-right h5:hover {
    color: hsl(5, 85%, 63%);
}

.footer-section-right p {
    font-size: 0.8rem;
}



/* MEDIA QUERY */
@media (max-width: 1024px) {
    .container {
        margin: 20px 10px;
    }

    .navbar {
        margin-bottom: 20px;
    }

    .navbar .nav-logo img {
        width: 30px;
    }

    .nav-links ul li {
        margin-left: 10px;
    }

    .nav-links ul li a {
        font-size: 0.8rem;
    }

    .main {
        flex-direction: column;
    }

    .main-left {
        width: 100%;
    }

    .main-left-top-img img {
        height: 190px;
        width: 100%;
    }

    .main-left-bottom {
        flex-direction: column;
    }

    .bright-future {
        width: 100%;
    }

    .web-evolution {
        width: 95%;
    }

    .web-evolution-btn button {
        margin-top: 20px;
    }

    .main-right {
        width: 100%;
    }

    .main-right {
        padding: 10px 10px 25px 10px;
    }

    .main-right-new h2 {
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .main-right-top h5 {
        margin-top: 5px;
    }

    .main-right-middle h5 {
        margin-top: 5px;
    }

    .main-right-bottom h5 {
        margin-top: 5px;
    }

    .footer {
        flex-direction: column;
        gap: 30px;
    }

    .footer-section-1 {
        width: 100%;
    }

    .footer-section-2 {
        width: 100%;
    }

    .footer-section-3 {
        width: 100%;
        margin-left: 0;
    }

}